.left{
    position: relative;
    height:550px ;
    float: left;
    margin: 5px;
    overflow-y: scroll;
    padding: 10px;
    border: 2px solid black;
    width: 35%;    
    border-radius: 20px;   
  }
  .right{
    position: relative;
    height: 550px;
    overflow-y: hidden;
    float: right;
    padding: 10px;
    margin: 5px;
    width: 60%;    
    border-radius: 40px;  
  }
  .calendar{
    height: 80%;
    width: 80%;
    position: absolute;
    margin-top: 10px;
    margin-left: 100px;
    text-align: center;
    border: 0px;    
  }
  td{
    border: 0px;
    font-weight: bold;
  }
  th{
    border: 0px;
    font-size: 20px;
  }
  td:hover{
    background-color: skyblue;
    color: red ;
    border: 0px solid black;
    border-radius: 100%;
  }
  h2{
    color: blue;
    font-size: 30px;
  }
  hr{
    border-color: black;
  }
  h1{
    font-size: 50px;
  }
  footer {
    background-color: rgb(31, 30, 30);
    overflow: hidden;
    align-content: center;
}
footer a {
    text-decoration: none;
    padding: 20px;
    
    float: left;
    color: white;
}
h4{
  text-align-last: right;
}
button{
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
}
body{
  background-image: linear-gradient(to top, rgba(248, 215, 215, 0), rgb(233, 163, 163)); 
}
p{
  font-weight: bold;
}

#March{
  display: block;
}
.a_left{
  display: flex;
  float: left;
  padding-left: 130px;
}
.a_right{
  display: flex;
  float: right;
  padding-right: 130px;
}
.arrow_lr{
  font-weight: bolder;
  cursor: pointer;
}